.logo.light-logo {
  -webkit-filter: brightness(100);
  filter: brightness(100);
  margin-top: 20px !important;
}

.zindex-1000 {
  z-index: 1000;
}

.fixed-icon-button {
  position: fixed;
  bottom: 35px;
  left: 35px;
  z-index: 500;
}

.form-control-sm {
  padding: 5px 10px !important;
  height: 40px !important;
  outline: none !important;
  box-shadow: none !important;
  font-size: 13px;
  border: 1px solid #b0dcff !important;
}

.textarea-sm {
  border: 1px solid #b0dcff !important;
  height: 80px !important;
  padding: 10px !important;
}

.fs-13 {
  font-size: 13px !important;
}

.theme-shadow {
  box-shadow: 0 2px 4px #b0dcff;
}

.pt-50 {
  padding-top: 50px !important;
}
